@media screen and (min-width: 769px) and (max-width: 1040px) {

    .main {
        margin-left: 40px;
    }

    .card-margin-left {
        margin-left: 20px;
    }
    .card-hidden.card-hidden-tablet {
        display: none;
    }

}