@media screen and (min-width: 481px) and (max-width: 620px) {

    .info {
        font-size: 11px;
        margin-right: 55px;
    }

    .card.card-hidden {
        display: none;
    }

    .card-margin-left {
        margin-left: 20%;
    }

    .footer {
        margin-top: 10px;
    }
}