@media screen and (max-width: 479px) {

    .info {
        font-size: 11px;
        margin-right: 55px;
    }

    .card {
        display: inline-block;
    }

    .main {
        margin: 0 auto;
    }

    .card-hidden {
        display: none;
    }

    .logo {
        margin-left: 6px;
    }

    .house-white {
        margin-left: 40px;
    }

}
