@media screen and (max-width: 479px) {

    .info {
        font-size: 11px;
        margin-right: 55px;
    }

    .main {
        margin: 0 auto;
    }

    .card-hidden {
        display: none;
    }

    .logo {
        margin-left: 10px;
    }

    .card-margin-left {
        margin-left: 7%;
    }

    .house-white {
        margin-left: 60px;
    }

}
