@media screen and (min-width: 481px) and (max-width: 620px) {

    .info {
        font-size: 11px;
        margin-right: 55px;
    }

    .card.card-hidden {
        display: none;
    }

    .logo {
        margin-left: 6px;
    }

    .card {
        display: inline-block;
        text-align: center;
    }

    .house-white {
        margin-left: 40px;
    }

    .footer {
        margin-top: 10px;
    }
}