@media screen and (min-width: 480px) and (max-width: 768px) {
    .inside-container {
        width: inherit;
    }

    .main {
        margin: 0 auto;
    }

    /*.image {*/
    /*    width: 280px;*/
    /*    height: 180px;*/
    /*}*/
    .card-margin-left {
        margin-left: 50px;
    }

    .info {
        font-size: 14px;
        margin-right: 55px;
    }

    /*.logo-text {*/
    /*    padding-bottom: 10px;*/
    /*}*/

    .logo {
        margin-left: 15px;
    }

    .house-white {
        margin-left: 50px;
    }

    .card {
        margin-left: 50px;
    }

    .description {
        margin: 44px;
        height: 10px;

    }

    .header {
        margin-bottom: 0;
    }

    /*.hover-image-small {*/
    /*    width: 281px;*/

    /*}*/

    .hover-box {
        bottom: 62px;
    }

    .tablet-card {
        height: 186px;
    }

    .price {
        margin-left: 15px;
    }

    .card-hidden-tablet {
        display: none;
    }
}