@media screen and (min-width: 621px) and (max-width: 768px) {
    .inside-container {
        width: inherit;
    }

    .main {
        margin: 0 auto;
    }

    .card-margin-left {
        margin-left: 50px;
    }

    .info {
        font-size: 14px;
        margin-right: 55px;
    }

    .house-white {
        margin-left: 50px;
    }

    .description {
        margin: 44px;
        height: 10px;
    }

    .header {
        margin-bottom: 0;
    }

    .hover-box {
        /*bottom: 62px;*/
    }

    .tablet-card {
        height: 186px;
    }

    .price {
        margin-left: 15px;
    }

    .card.card-hidden-tablet {
        display: none;
    }

}